@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

*{
  outline: none;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  -webkit-font-smoothing:antialiased;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background-color: #f1f1f1;

}
::-webkit-scrollbar-thumb{
  background: rgb(179, 55, 137);

}
::-webkit-scrollbar-thumb:hover{
  background: rgb(252, 34, 186);
}





body::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg rgba(255,255,255,0.72)0%,rgba(255,255,255,0.45)100%);
  -webkit-backdrop-filter: saturate(3);
  backdrop-filter: staurate(3);
  
}

body{
  font-family: Play;
 
  background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOYrUzXy_aer3nhQh9ptTQvIFTZaRVsaiEAA&usqp=CAU) ;
  
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  margin: 0;
  width: 100%;
  height: 100vh;


}
@media screen and (max-width: 480px) {
  body{
    padding:0.8em;
  }
  
}

main{
  background-color: rgb(255 255 255 /31%);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1250px;
  width: 100%;
  border-radius: 5px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  font-weight: 500;
  padding: 1rem 1rem 2rem 1rem;
  overflow: auto;
  
}

main::-webkit-scrollbar{
  display: none;
}


.navBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1.5px solid rgb(255 255 255 /31%);
}
.navBar>h1,.navBar>navigationMenu{
margin: 10px

}
.navigationMenu>a{
  padding: 5px 10px;
  margin-left: 10px;
  text-decoration: none;
  color: black;
  display: inline-block;
}
.navigationMenu>a:hover{
  transition:ease-in-out 300ms;
  background: white;
  border-radius: 10px;
}

@media only screen and (max-width:760px){
  .navigationMenu{
    display: none;
  }
  .navBar{
    align-items: center;
    justify-content: center;
    
    
  }
}

.heroSection{
  
  margin: 2rem ;
  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: calc(100%- 4 rem);
  background-color: rgb(255 255 255 /31%);
  border:1px solid rgb(255 255 255 /31%);
  border-radius: 5px;
  padding: 1rem;
  


}
.profileImg{
  box-shadow:  -1px 4px 20px -6px rgba(75, 82, 76, 0.979);
  
  align-items: center;
  justify-content: center;
  width:200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 300px;
  margin-top: 20px;
 
  

}

.herosectionDetails{
  justify-content: center;
  align-items: center;
  text-align: center;


}
.herosectionDetails>h1{
 
  font-size: 50px;
  margin-left: 10px;
  text-align: center;
}

.aboutMe{
  
  width: calc(100%- 4 rem);
  background-color: rgb(255 255 255 /31%);
  border:1px solid rgb(255 255 255 /31%);
  border-radius: 5px;
  padding: 1rem;
  margin: 2rem;
  text-align: center;
}

.skillsandProjects{
  margin: 1rem;
  display: grid;
  grid-template-columns: [one]50% [two]50%;
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
  width: calc(100% -2rem);
}

@media only screen and (max-width: 720px){
  .skillsandProjects{
    grid-template-columns: [one]100%;
    grid-template-rows: [one][two];
  }
}
.skillsandProjects>.skills,.skillsandProjects>.projects{
min-width: 250px;
margin: 1rem;
min-height: 250px;


}
.skillsandProjects>.skills,.skillsandProjects>.projects{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: rgb(255 255 255 /31%);
  border: 1px solid rgb(255 255 255 /31%);
  border-radius: 5px;
  margin-bottom: 2rem;
}
.cardHeading{
  display: block;
  width: 90%;
  margin: 0;
  margin-bottom: 1rem;

}
.skillsandProjects>.skills>img{
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
  margin-right: 15px;

}

.skillsandProjects>.skill>img:hover{
  transition:ease-in 300ms;
  transform: scale(0.85);
  cursor: pointer;
}

.projectcontainer{
  display: flex;
  width: 90%;
 overflow: scroll;
 flex-direction: column; 
  height: 180px;
}
.projectcontainer::-webkit-scrollbar{
  display: none;
}


.projectcontainer>.img{
  
  width: 60px;
  height: 60px;
  padding-right: 10px;
  

}
.projectcontainer>.projectDescription> h4{
  text-decoration-color: white;
  margin:0;
  
}
.projectcontainer>.projectDescription>p{
  margin: 0;
  margin-bottom: 1rem;
}
.projectDescription>a{
  text-decoration: none;
  color: black;
  display: inline-block
}
.projectDescription>a:hover{
  color:rgb(255, 0, 242);
}
.contact{
  width: 70%;
  margin: 2rem;

  background-color: rgb(255 255 255 /31%);
  border:1px solid rgb(255 255 255 /31%);
  border-radius: 5px;
  padding: 1rem;
  
  flex-direction: column;
  
}

.bubbles img{
 
  width:50px;
  animation: bubble 7s linear infinite;
  display:  none;
  
 
 
}

.bubbles >.img{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
  position: absolute;
  
  bottom: -80vh;
}
 

.bubbles img:nth-child(1){
  animation-delay: 0s;
  width: 25px;
}
.bubbles img:nth-child(2){
  animation-delay: 8s;
  width: 8px;
}
.bubbles img:nth-child(3){
  animation-delay: 5s;
  width: 25px;
}
.bubbles img:nth-child(4){
  animation-delay:2s;
  widows: 6px;
}
.bubbles img:nth-child(5){
  animation-delay: 6s;
  width: 20px;
}
.bubbles img:nth-child(6){
  animation-delay: 3s;
}
.bubbles img:nth-child(7){
  animation-delay: 1s;
  width: 10px;
}
.bubbles img:nth-child(8){
  animation-delay: 5s;
  width: 15px
  
}


@keyframes bubble{
  
    
  0%{
    transform: translateY(0);
    
    opacity: 0;
  
    
    
  }
  50%{
    
    opacity: 1;
  }
  70%{
    
    opacity: 1;
  }
  100%{
    transform: translateY(-80vh);
    
    opacity: 0;
  }

}











.contact>.instagram>a:hover,.contact>.github>a:hover{
  color:red;
}
.contact>.facebook>a:hover{
  color:red;
}
.contact>.instagram>a,.contact>.github>a{
  text-decoration: none;
  color: rgb(155, 145, 145);
  display: inline-block
}
.contact>.facebook>a{
  text-decoration: none;
  color:  rgb(155, 145, 145);
  display: inline-block
}
.contact>.instagram>img{
  width: 20px;
  height: 20px;
}


.contact>.github>img{
  width: 20px;
  height: 20px;
}
.contact>.facebook>img{
  width: 20px;
  height: 20px;
}

.contactForm{
  margin: 2rem;
  width: calc(100%- 4 rem);
  background-color: rgb(255 255 255 /31%);
  border:1px solid rgb(255 255 255 /31%);
  border-radius: 5px;
  padding: 1rem;
}

.contactForm>.formGroup{
  margin-bottom: 1rem;
  width: 100%;
  margin:5px 10px;
  margin-top:5px;
  font-weight: 600;
}
.formGroup>input{
  width: 100%;
  padding: 5px 10px;
  margin-top:5px;
  font-weight: 600;
  border: none;
  border-radius: 30px;
 
}
.formGroup>textarea{
  width: 100%;
  padding: 5px 10px;
  margin-top:5px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
}


.submitbutton{
  padding:10px 20px;
  font-weight: 600;
  font-size: 15px;
  
  border-radius: 20px;
  margin-left: 10px;
  background: transparent;
  border: 1px solid white;

}
.submitbutton:hover{
  color: grey;
  -webkit-text-fill-color: rgb(255, 0, 212);
}
.resetbutton{
  padding: 10px 20px;
  font-weight: 600;
  font-size: 15px;
  border: 1px solid white;
  border-radius: 20px;
  justify-content: left;
 background: transparent;
  

}
.resetbutton:hover{
  color: grey;
   -webkit-text-fill-color: rgb(255, 0, 242);
}


@media only screen and (max-width:460px){
  .profileImg{
    width: 250px;
    height: 250px;

  }

  .herosectionDetails>h1{
    font-size: 30px;
    margin-top: 1.5rem;
    margin-bottom:0rem;
  }

  .herosectionDetails>h1{
    font-size: 20px;
    margin-top: 0;
    margin-bottom:400;
  }
}